<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ATOM PAYMENT GATEWAY IN NODEJS</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container my-5">
      <h3 class="">Merchant Shop</h3>
      <p>Transaction Id: <%= txnId %></p>
      <p>Atom Token Id: <%= token %></p>
      <p>Pay Rs. 100</p>
      <a class="btn btn-primary" href="javascript:openPay()" role="button"
        >Pay Now</a
      >
    </div>

    <script src="https://pgtest.atomtech.in/staticdata/ots/js/atomcheckout.js"></script>
    <script>
      function openPay() {
        const options = {
          atomTokenId: "<%= token %>",
          merchId: "<%= merchId %>",
          custEmail: "sagar.gopale@atomtech.in",
          custMobile: "8976286911",
          returnUrl: "http://localhost:3011/Response",
        };
        // console.log("openPay console:---------->>", options)
        let atom = new AtomPaynetz(options, "uat");
      }
    </script>
  </body>
</html>

<!-- https://pgtest.atomtech.in/otsBank/statuscheckNew.jsp?ref_no=11000000526235&bank_txn_id=qpVcupAgmUJFdCTVrytL&amount=10.00&ru=https://paynetzuat.atomtech.in/ots/bank/ru/atomnb.ots -->
